@tailwind base;
@tailwind components;
@tailwind utilities;

/* ------------------------------
   TAILWIND LAYER BASE
------------------------------ */

@layer base {
  :root {
    --bg: #ffffff;
    --text: #111111;
    --card-bg: #f5f5f5;
  }

  html[data-theme="dark"] {
    --bg: #0d0d0d;
    --text: #e5e5e5;
    --card-bg: #1a1a1a;
  }

  html {
    @apply scroll-smooth;
  }

  body {
    @apply font-sans leading-relaxed text-text bg-bg transition-colors duration-1000 ease-in-out;
  }

/* ------------------------------
  TIPOGRAFÍA
------------------------------ */
  h1, h2, h3 {
    @apply font-semibold mb-2 text-text;
  }

  h1 {
    @apply text-h1 mb-[0.2rem];
  }

  h2 {
    @apply text-h2 mb-4;
  }

  p, li {
    @apply text-base mb-[0.8rem];
  }
  
/* ------------------------------
   ENLACES
------------------------------ */
  a {
    @apply text-[#0057d8] no-underline hover:underline transition-colors duration-[250ms] ease-in-out;
  }

/* ------------------------------
   SECCIONES
------------------------------ */
  section {
    @apply mb-12;
  }

  ul {
    @apply list-none pl-0;
  }

  ul li {
    @apply mb-2;
  }

  section ul li, section p {
    @apply pl-6;
  }
}

/* ------------------------------
   TAILWIND CUSTOM UTILITIES
------------------------------ */

@layer utilities {
  .layout-side-panels {
    @apply 
      before:left-0
      before:content-['']
      before:fixed
      before:top-0
      before:w-[20%]
      before:h-full
      before:bg-card
      before:opacity-40
      before:pointer-events-none
      before:z-[1]
      
      after:right-0
      after:content-['']
      after:fixed
      after:top-0
      after:w-[20%]
      after:h-full
      after:bg-card
      after:opacity-40
      after:pointer-events-none
      after:z-[1]
  }
}
