<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
</head>
<body>
    <header>
        <h1>Norberto Bermejo Arribas</h1>
        <p>Fullstack Web Developer</p>
        <a href="mailto:norber.bermejo@gmail.com">norber.bermejo@gmail.com</a>
        <nav>
            <ul>
                <li><a href="#resumen">Resumen profesional</a></li>
                <li><a href="#experiencia">Experiencia profesional</a></li>
                <li><a href="#habilidades">Habilidades técnicas</a></li>
                <li><a href="#formacion">Formación académica</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section id="resumen">
            <h2>Resumen Profesional</h2>
            <p>Desarrollador de software Back-end con más de 7 años de experiencia profesional, 
especializado en el ecosistema Microsoft (.NET Core, .NET) y la gestión avanzada de 
bases de datos SQL y Oracle. Experiencia sólida en el diseño e implementación de 
Web Services (REST/SOAP) y en el ciclo completo de desarrollo, desde la 
conceptualización hasta la resolución de incidencias. Destacada capacidad de 
aprendizaje continuo y adaptabilidad a nuevas tecnologías y metodologías 
(Agile/Scrum).</p>
        </section>

        <section id="experiencia">
            <h2>Experiencia Profesional</h2>
            <p>post 1</p>
            <p>post 2</p>
            <p>post 3</p>
        </section>

        <section id="habilidades">
            <h2>Habilidades técnicas</h2>
            <p>Nube de tags que enlaza las tecnologías y herramientas que domino.</p>
            <p>Linka con experiencias y estudios</p>
        </section>

        <section id="formacion">
            <h2>Formación académica</h2>
            <p>Formación académica y certificaciones relevantes.</p>
        </section>
    </main>
    <footer>
        <p>Profesional adaptable y resolutivo, con capacidad para aprender rápido y trabajar con autonomía.
 Comunicación clara, pensamiento analítico y enfoque práctico para resolver problemas y mejorar procesos.</p>
        <a href="mailto:norber.bermejo@gmail.com">norber.bermejo@gmail.com</a>
        <!-- ver tiempos, añadir formulario de contacto ? -->
        <nav>
            <ul>
                <li><a href="#resumen">Resumen profesional</a></li>
                <li><a href="#experiencia">Experiencia profesional</a></li>
                <li><a href="#habilidades">Habilidades técnicas</a></li>
                <li><a href="#formacion">Formación académica</a></li>
            </ul>
        </nav>
    </footer>
</body>
<html>