---
import ContactInfo from '../components/ContactInfo.astro';
import Navigation from '../components/Navigation.astro';
---
<footer class="mt-12 pt-8 border-t-[1px] border-t-[#ddd] text-center text-[var(--text)]">
    <p>Profesional adaptable y resolutivo, con capacidad para aprender rápido y trabajar con autonomía.
Comunicación clara, pensamiento analítico y enfoque práctico para resolver problemas y mejorar procesos.</p>
    <ContactInfo />
    <!-- ver tiempos, añadir formulario de contacto ? -->
    <Navigation />
</footer>
