---
import { Image } from "astro:assets";
import foto from '../assets/picture.svg';
import ContactInfo from '../components/ContactInfo.astro';
import Navigation from '../components/Navigation.astro';
---
<header class="flex flex-col items-center gap-4 py-4 mb-8 text-center sm:flex-row sm:items-start sm:gap-4 sm:justify-start relative">

  <Image src={foto} alt="Foto personal" class="w-20 h-20 rounded-full object-cover" width="80" height="80" />

  <div>
    <h1 class="m-0">Norberto Bermejo Arribas</h1>
    <p class="mt-[0.2rem] mb-4 text-[1.1rem] text-text">Fullstack Web Developer</p>
    <ContactInfo />
    <hr class="m-4">
    <Navigation />
  </div>

  <button id="theme-toggle" class="text-[1.4rem] cursor-pointer text-text md:absolute md:top-2 md:right-2" >🌓</button>

</header>

<script>
  const root = document.documentElement;
  const saved = localStorage.getItem("theme");
  const toggle = document.getElementById("theme-toggle");

  if (saved) root.setAttribute("data-theme", saved);

  if (toggle) {
    toggle.onclick = () => {
      const current = root.getAttribute("data-theme");
      const next = current === "dark" ? "light" : "dark";
      root.setAttribute("data-theme", next);
      localStorage.setItem("theme", next);
    };
  }
</script>