---
import ContactInfo from '../components/ContactInfo.astro';
import Navigation from '../components/Navigation.astro';
---
<header>
    <h1>Norberto Bermejo Arribas</h1>
    <p>Fullstack Web Developer</p>
    <ContactInfo />
    <Navigation />
</header>