---
import ContactInfo from '../components/ContactInfo.astro';
import Navigation from '../components/Navigation.astro';
import avatar from '../assets/picture.svg';
---
<header class="header">
  <img src='/picture.svg' alt="Foto personal" class="avatar" />

  <div class="header-text">
    <h1>Norberto Bermejo Arribas</h1>
    <p>Fullstack Web Developer</p>
    <ContactInfo />
    <Navigation />
  </div>
</header>

<style>
  .header {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: 1rem 0;
  }

  .avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
  }

  .header-text h1 {
    margin: 0;
  }

  .header-text p {
    margin: 0.2rem 0 1rem;
  }
</style>