---
import ContactInfo from '../components/ContactInfo.astro';
import Navigation from '../components/Navigation.astro';
---
<header class="flex items-center justify-between gap-6 py-4 mb-8 text-center">
  <img src='/picture.svg' alt="Foto personal" class="w-20 h-20 rounded-full object-cover" />

  <div>
    <h1 class="m-0">Norberto Bermejo Arribas</h1>
    <p class="mt-[0.2rem] mb-4 text-[1.1rem] text-[var(--text)]">Fullstack Web Developer</p>
    <ContactInfo />
    <Navigation />
  </div>

  <button id="theme-toggle" class="absolute top-2 right-2 bg-none border-none text-[1.4rem] cursor-pointer text-[var(--text])">🌓</button>
</header>

<script>
  const root = document.documentElement;
  const saved = localStorage.getItem("theme");
  const toggle = document.getElementById("theme-toggle");

  if (saved) root.setAttribute("data-theme", saved);

  if (toggle) {
    toggle.onclick = () => {
      const current = root.getAttribute("data-theme");
      const next = current === "dark" ? "light" : "dark";
      root.setAttribute("data-theme", next);
      localStorage.setItem("theme", next);
    };
  }
</script>