<nav>
    <ul>
        <li><a href="/#resumen">Resumen profesional</a></li>
        <li><a href="/#experiencia">Experiencia profesional</a></li>
        <li><a href="/#habilidades">Habilidades técnicas</a></li>
        <li><a href="/#formacion">Formación académica</a></li>
    </ul>
</nav>