<nav>
    <ul class="list-none flex justify-center gap-[1.2rem] mt-4 [&>li>a]:font-medium">
        <li><a href="/#resumen">Resumen profesional</a></li>
        <li><a href="/#experiencia">Experiencia profesional</a></li>
        <li><a href="/#habilidades">Habilidades técnicas</a></li>
        <li><a href="/#formacion">Formación académica</a></li>
    </ul>
</nav>
