<section id="resumen">
    <h2>Resumen Profesional</h2>
    <p>Desarrollador de software Back-end con más de 7 años de experiencia profesional, 
especializado en el ecosistema Microsoft (.NET Core, .NET) y la gestión avanzada de 
bases de datos SQL y Oracle. Experiencia sólida en el diseño e implementación de 
Web Services (REST/SOAP) y en el ciclo completo de desarrollo, desde la 
conceptualización hasta la resolución de incidencias. Destacada capacidad de 
aprendizaje continuo y adaptabilidad a nuevas tecnologías y metodologías 
(Agile/Scrum).</p>
</section>