<section id="formacion">
    <h2>Formación académica</h2>
    <p>Grado Superior – Desarrollo de Aplicaciones Web (DAW) I.E.S. Pradolongo, Madrid | 
Sept/2014 – Jun/2016</p>
    <h2>Formación continua y certificaciones</h2>
    <ul>
        <li>Confección y publicación de páginas web (980 horas)</li>
        <li>Certificado Profesional Google IT Automation with Python (131 horas)</li>
        <li>Desarrollo de aplicaciones web sobre ORACLE DATABASE</li>
        <li>Asynchronous Programming in C# and .NET Core (edX)</li>
        <li>fullstackopen.com (University of Helsinki)</li>
    </ul>
    <h2>Idiomas</h2>
    <p>Inglés: Nivel B2 (Conversación y Escritura) / Nivel C2 (Lectura)</p>
</section>