---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import ProfessionalProfile from '../components/ProfessionalProfile.astro';
import ProfessionalExperience from '../components/ProfessionalExperience.astro';
import TrainingProfile from '../components/TrainingProfile.astro';
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
</head>
<body>
    <Header />    
    
    <main>
        <ProfessionalProfile />

        <ProfessionalExperience />

        <section id="habilidades">
            <h2>Habilidades técnicas</h2>
            <h3><strong>ToDo - nube de tags</strong></h3>
            <p>Nube de tags que enlaza las tecnologías y herramientas que domino.</p>
            <p>Linka con experiencias y estudios</p>
        </section>

        <TrainingProfile />
    </main>

    <Footer />
</body>
<html>