---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';
---
<!DOCTYPE html>
<html lang="es-ES">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/picture.ico" />
    <title>Portfolio</title>
</head>
<body>
    <div class="page-wrapper">
        <Header />

        <main class="content">
            <slot />
        </main>

        <Footer />
    </div>
</body>
</html>
<style>
    body {
        background: var(--bg);
        margin: 0;
    }

    .page-wrapper {
        max-width: 900px;
        margin: 0 auto;
        padding: 2rem;
        background: var(--card-bg);
        border-radius: 12px;
        box-shadow: 0 0 40px rgba(0,0,0,0.05);
        position: relative;
        z-index: 2;
    }

    /* Laterales */
    body::before,
    body::after {
        content: "";
        position: fixed;
        top: 0;
        width: 20%;
        height: 100%;
        background: var(--card-bg);
        opacity: 0.4;
        z-index: 1;
        pointer-events: none;
    }

    body::before {
        left: 0;
    }

    body::after {
        right: 0;
    }
</style>