---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import ProfessionalProfile from '../components/ProfessionalProfile.astro';
import ProfessionalExperience from '../components/ProfessionalExperience.astro';
import Skills from '../components/Skills.astro';
import TrainingProfile from '../components/TrainingProfile.astro';
---
<!DOCTYPE html>
<html lang="es-ES">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
</head>
<body>
    <Header />    
    
    <main>
        <ProfessionalProfile />

        <ProfessionalExperience />

        <Skills />

        <TrainingProfile />
    </main>

    <Footer />
</body>
<html>